@model MyBlog.ViewModels.BlogDetailsModel

@{ 
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <h1>@Model.Title</h1>
        <h2>Description</h2>
        <p>@Model.Description</p>
        <h4>Date created:@Model.DateCreated </h4>
    </div>
    <div class="container">
        @if (User.Identity.IsAuthenticated )
          {
         <a class="btn btn-primary overflow-hidden" href="/MyBlogs/ManageBlogs" role="button">Back</a>
          }
        else
          {
         <a class="btn btn-primary" href="/MyBlogs/Overview" role="button">Back</a>
          }
    </div>
       
</body>
</html>