@model List<MyBlog.ViewModels.BlogManageBlogsModel>

@{
    ViewBag.Title = "ManageBlogs";
}

@if (ViewBag.ErrorMessage != null)
{
<div class="alert alert-danger" role="alert">
    @ViewBag.ErrorMessage
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}


@if (ViewBag.SuccessMessage != null)

{
<div class="alert alert-success" role="alert">
    @ViewBag.SuccessMessage
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<p>
    <a class="btn btn-success" href="/MyBlogs/Create">Create Blog</a>
</p>

@if (Model.Count == 0)
{
    <p>There is no blogs.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blog in Model)
            {
                <tr>
                    <td>@blog.Id</td>
                    <td>@blog.Title</td>
                    <td class="text-center">
                        <a class="text-warning" href="/MyBlogs/Update/@blog.Id">Edit</a> |
                        <a class="text-primary" href="/MyBlogs/Details/@blog.Id">Preview</a> |
                        <a class="text-danger" href="/MyBlogs/Delete/@blog.Id" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



