
@{
    ViewBag.Title = "About Us";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body> 
    <div>
        <h1>Hello everyone</h1>
        <h2>This is my personal blog</h2>
    </div>
</body>
</html>