
@{
    ViewBag.Title = "Contact Us";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <ul>
            <li>Email:contact@myblog.com</li>
        </ul>
    </div>
</body>
</html>
